footer a {
  color: darkblue;
}
#map {
  height: 350px;
  width: 100%;
  border: 2px solid black;
  border-radius: 10px;
}
#filters {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.filter {
  text-align: center;
  margin-right: 2rem;
  opacity: 0.7;
}
.filter:hover {
  opacity: 1;
  cursor: pointer;
}
.tax-info {
  display: none;
}
.tax-toggle {
  border: 1px solid black;
  border-radius: 2rem;
  padding: 1rem;
  font-size: 0.8rem;
  height: 3.5rem;
  display: flex;
  align-items: center;
  background-color: antiquewhite;
  margin-bottom: 0.5rem;
}
.filter p {
  font-size: 0.8rem;
}
.search-btn i {
  display: inline;
  margin-right: 0.5rem;
}
.search-btn {
  background-color: #fe424d;
  color: #fff;
  padding: 0 1rem 0 1rem;
  border-radius: 2rem;
}
.search-btn:hover {
  background-color: #fe424d;
  color: #fff;
}
.search-inp {
  border-radius: 2rem;
  padding: 0.5rem 3rem;
  font-size: 1rem;
}
.form-check-input:checked {
  background-color: #fe424d;
}
